@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-display: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-display font-bold;
    }
}
